<!DOCTYPE html>
<html>
<head>
	<title>Car Selector</title>
	<script src="./js/index.js"></script>
</head>
<body>
	<h1>Car Selector</h1>
	<label for="manufacturer-select">Manufacturer:</label>
	<select id="manufacturer-select"></select>
	<br><br>
	<label for="model-select">Model:</label>
	<select id="model-select"></select>
	<br><br>
	<label for="gas-type-select">Gas Type:</label>
	<select id="gas-type-select"></select>
</body>
</html>
